////COLORES

//Usos principales
$gdle-primary: #565aa1;
$gdle-secondary: #fe6b88;
$gdle-extra: #fea1b3;
$gdle-accent: #49dcc0;

//Paleta principal
$gdle-white: #fff;
$gdle-purple: $gdle-primary;
$gdle-pink: $gdle-secondary;
$gdle-yellow: #f7ba61;
$gdle-blue: $gdle-accent;
$gdle-grey: #4e4e4e;

//Fondos
$gdle-bg-primary: #f6f6f8;

//Botones
$gdle-button-primary: $gdle-accent;
$gdle-button-danger: $gdle-secondary;

//Degradados
$gdle-gradient-primary: linear-gradient(180deg, $gdle-primary 10%,$gdle-secondary 100%);
$gdle-gradient-purple: linear-gradient(90deg ,#565aa1, #9f5cc3);


////MEDIDAS
$side-bar-width: 200px;

$sm-media: 576px;
$md-media: 768px;
$lg-media: 992px;
$xlg-media: 1200px;

//aliases
$media-sm: $sm-media;
$media-md: $md-media;
$media-lg: $lg-media;
$media-xlg: $xlg-media;
