@import "../../../styles/vars";

.app-view{
  padding: 2rem;
  background: $gdle-bg-primary;
  border-top-left-radius: 5px;
  height: calc( 100vh - 58px );
  overflow-y: scroll;
}

.side-menu{
  padding-top: 1rem;
  background: $gdle-gradient-primary;
  height: 100vh;
}