@import "../../../styles/_vars";

.app-layout{
  >div{
    float: left;
  }
}

.app-canvas{
  width: 100vw;

  &.opened{
    width: calc(100vw - #{$side-bar-width});
  }
}

.app-body{
  padding: 2rem;
  background: $gdle-bg-primary;
  height: calc( 100vh - 58px );
  overflow-y: scroll;

  &.opened{
    border-top-left-radius: 5px;
  }
}