@import '../../../styles/vars';

$aside-width: 300px;

.courses {

  overflow: hidden;

  &__body{
    width: 100%;
    height: 100vh;
    float: left;

    //On (< xlg) show full width
    @media( min-width: $media-xlg){
      display: block;
      width: calc( 100% - #{$aside-width} );
    }

      &__title{
        padding: 1rem;
      }



      // &__carousell{
      //   height: 200px;
      //   background: #ecf0f1;
      //
      //   .course-card{
      //     width: 400px;
      //     padding: 1rem;
      //     background: lightblue;
      //
      //     div{
      //       background: blue;
      //     }
      //
      //     &__image{
      //       img{
      //         width: 100%;
      //       }
      //     }
      //   }
      // }

  }

  &__recents{

    width: $aside-width;
    height: 100vh;
    float: left;
    background: #ecf0f1;
    border-left: 1px solid rgba(0,0,0,.1);

    //On (< xlg) not show the element
    @media( max-width: $media-xlg){
      display: none;
    }


  }

}

//
//
// .courses{
//
//   &__menu{
//     padding: 1rem 2rem;
//     background: $gdle-white;
//   }
// }
//
//
// .recently_updated{
//   background: $gdle-white;
//   height: 100%;
//   border-left: 1px solid rgba(0,0,0,.1);
//
//   .recently_updated__title{
//     text-align: center;
//     font-size: 1.5rem;
//     color: $gdle-secondary;
//     font-weight: 300;
//     padding: 1rem 0 3rem 0;
//     // TODO: Hacer bien el sticky
//     position: sticky;
//     top: 0;
//     background: #fff;
//
//     span.bold{
//       font-weight: 600;
//     }
//   }
//
//   .recently_updated__card{
//     border-bottom: 1px solid rgba(0,0,0,.1);
//     font-size: .8rem;
//     overflow: auto;
//     padding-bottom: .5rem;
//
//     .recently_updated__card__date{
//         display: block;
//         font-size: .7rem;
//         padding-bottom: .5rem;
//
//       ._icon{
//         float: left;
//         padding-right: .5rem;
//       }
//
//       ._date{
//         padding: 0;
//         float: left;
//       }
//
//       ._course_name{
//         float: right;
//         padding-right: .5rem;
//       }
//     }
//
//     .__course_content{
//       clear: both;
//       padding-top: .5rem;
//
//       .__pic{
//         float: left;
//         width: 50px;
//       }
//
//       .__content{
//         padding-left: .5rem;
//         float: left;
//         width: calc(100% - 50px);
//       }
//     }
//   }
// }
