//Importación de bootstrap
@import "~bootstrap/scss/bootstrap";
@import "./styles/custom";


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background: $gdle-purple;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

*:focus{
  outline: none !important;
}

.fade-in{
  animation: gdl-fade-in 1s forwards;
}

h1, h2, h3, h4, h5{
  color: $gdle-purple;
  font-weight: 300;

  .bold{
    font-weight: 500;
  }
}

@keyframes gdl-fade-in {
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}