//Importación de bootstrap
@import "~bootstrap/scss/bootstrap";
@import "./styles/custom";


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background: $gdle-purple;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.fade-in{
  animation: gdl-fade-in 1s forwards;
}

@keyframes gdl-fade-in {
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}