@import '../../../styles/vars';

.row {
    margin: 0;
}
.container {
    padding: 0;
}
.messages_container {
    height: 100vh;
    overflow-y: scroll;
    padding: 0;

    header {
        background: url('https://pre00.deviantart.net/22f8/th/pre/f/2015/181/2/7/flat_mountains_landscape_by_ggiuliafilippini-d8zdbco.jpg') center;
        background-size: cover;
        position: relative;
        padding: 15px;
        text-align: center;

        h1 {
            position: relative;
            color: #fff;
        }
    }
}

.message_text{
    padding: 20px 100px;

    header {
        text-align: center;
        padding-bottom: 20px;
    }
}

.messages {
    padding: 15px;

    .message {
        padding: 10px;


        .__card_overlay{
            .__card_overlay__subject, .__card_overlay__from{
                color: #fff;

                span{
                    font-size: 18px;
                    font-weight: bold;
                }
            }

        }



        &.active {
            position: relative;
            left: 10px;

            &:before {
                content: "";
                position: absolute;
                width: 7px;
                height: 70%;
                background: $gdle-accent;
                left: -7px;
                top: 15%;
                border-radius: 25px;
            }
        }
    }
}